* {
    margin: 0;
    padding: 0;
    font-family: 'NexonLv1Gothic';
}
body {
    padding: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    display: flex;
    justify-content: space-between;
}
aside {
    width: 30%;
    background-color: #f5f5f5;
}
section {
    width: 70%;
}
table tr td {
    padding: 5px;
}
fieldset {
    padding: 20px;
}
input {
    width: 100%;
}
button {
    background-color: orangered;
    color: #fff;
    padding: 10px;
}